/*comienza blog*/
html, head, body{
	width: 100%;
	/*height: 100%;*/
	font-family: 'Lato', sans-serif;
}
.row {
	margin: 0px;
	padding: 0px;
}
[class*="col-"] {

	padding: 0px;
	margin: 0px;
}

.blog h2{
	text-align: center;
	font-size: 35px;
	color: gray;

}
.comentario{
	background-color: rgb(221, 223, 222);
	height: 250px;
	padding: 57px 30px 10px 10px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out; 
}

.comentario p{
	color:rgb(168, 166, 166);
	font-size: 19px;

}
.comentario p:hover{
	color: white;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out; 
}
.blog-comentario{
	padding: 20px;
}
.comentario:hover{
	background-color: rgb(249, 206, 17);
	color: orange;
}

.blog-img{
	top:32px;
	position: relative;
}

.btn{
	background-color: rgb(35, 190, 244);
	color: white;
	width: 20%;
	margin-top: 20px;
}

	

/*Termina blog*/